[run]
source =
    datastore
    ingestion
    features
    systems
    backtest
    config
omit =
    */tests/*
    */test_*
    dashboard/static/vendor/*
    */__init__.py
    scripts/*
    */migrations/*
data_file = .coverage

[report]
precision = 2
skip_empty = True
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    raise NotImplementedError
